@font-face {
  font-family: cocogoose;
  src: url(fonts/Cocogoose-font.otf);
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'lato', sans-serif;
}

p {
  line-height: 1.5rem;
}
.menu-content {
  display: none;
}


.top-bar-section {
  background-color: black;
  display: none;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 95%;
}

.nav-toggle {
  position: absolute;
  top: 1rem;
  cursor: pointer;
  left: 1rem;
}

.close-menu {
  display: none;
  cursor: pointer;
}

.close-menu p{
  font-size: 3.2rem;
  position: absolute;
  margin: 0;
  top: 0;
  left: 1.3rem;
}


.logo-desktop a{
  display: none;
  position: absolute;
  top: 1.3rem;
  right: 1.5rem;
  text-decoration: none;
  color: black;
}

.pages-menu {
  width: 100%;
  display: none;
  height: 80vh;
  background-color: rgb(234, 234, 234, 0.7); 
  border-right: 4px outset #ec5242;
  border-bottom: 2px outset #ec5242;
}

.open {
  height: 100vh;
}

.menu-items {
  padding: 0;
  margin-top: 8rem;
}

.menu-items li {
  display: block;
  text-align: center;
  padding: 1.5rem 0;
}


.web-pages a{
  text-decoration: none;
  color: black;
  font-size:  1.3rem;
}

.web-pages a:hover {
  color: #ec5242;
  border-bottom: 1px solid #ec5242;
  background-color: #f7f7f8;
  font-size: 1.2rem;
  padding-inline: 11%;
  padding-block: 5%;
}

.home-page a{
  text-decoration: none;
  color: black;
  font-size:  1.3rem;
}

.home-page a:hover {
  color: #ec5242;
  border-bottom: 1px solid #ec5242;
  background-color: #f7f7f8;
  font-size: 1.2rem;
  padding-inline: 11%;
  padding-block: 5%;

}

.company-name {
  display: none;
}

.company-name a {
  text-decoration: none;
  color: black;
}



/* .hamburger {
  position: absolute;
  top: 3%;
  margin-left: 5%;
} */

.fa-bars {
  font-size: 2rem;
}

.first-section {
  background-image: url(assets/first-section.png);
  background-repeat: no-repeat;
  background-position: center;
}


.first-section-container {
  width: 92.5%;
  padding-top: 7rem;
  margin-inline: auto;
  min-height: 326.85px;
  height: auto;
}
.open-intro-heading {
  margin-top: 5%;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ec5242 ;
}

.open-heading {
  font-family: 'cocogoose';
  font-size: 3rem;
  color: #ec5242;
  margin: 0;
}

.first-section-para {
  padding: 3%;
  background-color: #f7f7f8;
  text-align: center;
  border: 3px solid white;
  margin-top: 5%;
}

h3 {
  font-family: cocogoose;
  font-size: 1.84rem;
  color: #504f4f
}

.venue {
  font-size: 1.12rem;
}

/* second-section styling */

.second-section{
  background-image: url(assets/repeat-bg.png);
  background-repeat: repeat;
  background-position: center;
  
  /* margin: 0; */
}


.program-list {
  width: 92.5%;
  margin-inline: auto;
  margin-top: 10%;
}

.second-section-heading {
  color: #fff;
  text-align: center;
  padding-top: 8%;
  font-size: 2rem;
  margin-bottom: 0;
}

hr {
  width: 10%;
  margin-inline: auto;
  border: none;
  height: 3px;
  background:#ec5242;
}

.flex-box {
  display: flex;
  justify-content: space-around;
  align-items:center;
  background-color: #393c43b3;
  margin-block: 5%;
  color: white;
}

.flex-box img {
  width: 10%;
  height: 20%;
  width: 10%;
  margin-left: 4%;
}

.flex-box h2 {
  font-size: 1.2rem;
  margin-left: 3%;
  align-items: center;
  width: 40%;
  color: #ec5242;
  text-align: center;
  align-self: center;
}

.flex-box p {
  font-size: 0.9rem;
  margin-left: 2%;
  width: 60%
}

.button-container {
  width: 50%;
  margin-inline: auto;
  height: 70px;
  margin-block: 5%;
}

.program-button {
  width: 100%;
  height: 50px;
  background-color: #ec5242;
  border-radius: 4px;
  border-color: transparent;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}

.program-button:hover {
  background-color: #fff;
  color: #ec5242;
  height: 60px;
  font-weight: 700;
  width: 110%;
  font-size: 1.2rem;
  border-color: #ec5242;
}

.desktop-container-link {
  display: none;
}

/* third section -dynamic one */

.section-speakers-heading {
  text-align: center;
}

.featured-speakers {
  width: 92.5%;
  margin: auto;
}

.speaker-section {
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  margin-block: 12%;
}

.speaker-image-section {
  display: flex;
  justify-content: center;
}

.speaker-image {
  width: 128px;
  height: 128px;
  align-self: center;
  justify-self: center;  
  margin-block: auto;
  z-index: 2;
}

.speaker-details {
  padding-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.speaker-name {
  margin-block: 0;
}

.speaker-designation {
  margin-block: 0;
  font-size: 0.9rem;
  color: #ec5242;
}

#dots {
  margin: 0;
}

.speaker-history {
  font-size: 0.8rem;
  margin-bottom: 0;
  width: 100%;
}

/* partner section continues here */

.partners-section {
  background-color: #3f444f;
}

.partners-heading {
  text-align: center;
  color: #fff;
  padding-top: 10%;
}

.partners-list img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(311deg) brightness(102%) contrast(105%);
  margin-block: 10%;
}

.partners-flex {
  width: 90%;
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.partner-list {
  width: 100%;
}

.partner-image {
  width: 125px;
  height: 40px;
}

footer {
  min-height: 5rem;
}

.footer-flex {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}

.footer-logo a {
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;
  color: black;
}

.copy-right {
  font-size: 1rem;
  margin: 0;
}


@media only screen and (min-width: 768px) {
  .nav-toggle {
    display: none;
  }

  p {
    line-height: 1.3rem
  }

  hr {
    width: 5%
  }

  .top-bar-section {
    display: block;
    position: relative;
  }
  
  .top-bar-container {
    width: 40%;
    margin-left: auto;

  }

  .top-bar {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    margin-block: 0;
  }

  .top-bar li {
    color: white;
    font-size: 0.7rem;
    position: relative;
  }

  header {
    background-color: #eaeaea;
  }

  .navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 0 15px;
    margin: 0 auto;
    position: unset;
  }

  .logo-desktop a{
    position: unset;
    display: block;
    color: #ec5242;
    font-size: 3.25rem;
  }


  .logo-desktop {
    cursor: pointer;
  }
  
  .logo-desktop a:hover {
    color: #ec5242;
    font-size: 3.5rem;
  }

  .pages-menu {
    width: unset;
    display: block;
    height: unset;
    border: none;
  }

  .menu-items {
    margin: 0;
  }

  .menu-items li {
    display: inline-block;
    padding: 0 1.25rem;
  }

  .company-name {
    display: block;
  }

  .logo-desktop a {
    text-decoration: none;
    color: black;
  }

  .home-page a {
    display: none;
  }

  .web-pages a {
    text-decoration: none;
    color: black;
  }

  .web-image img{
    display: none;
  }

  .web-pages a:hover {
    color: #ec5242;
    border: 1px solid #ec5242;
    background-color: #f7f7f8;
    font-size: 1.3rem;
    padding-inline: 15%;
    padding-block: 8%;
  }

  .web-pages {
    flex-grow: 1;
  }

  .company-name a {
    text-decoration: none;
    border: 2px solid #ec5242;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ec5242;
    letter-spacing: 2px;
    padding-inline: 0.5rem;
    padding-block: 0.5rem
  }

  .company-name a:hover {
    font-size: 1.6rem;
    border-color: black;
  }
  
  .first-section {
    background-position: center;
  }

  .first-section-container {
    width: 83%;
    padding-top: 7rem;
    min-height: 685px;
  }

  .open-heading {
    width: 60%;
    font-size: 3.4rem;
  }

  .first-section-para {
    width: 57.5%;
    text-align: left;
    margin-top: 0;
    padding-inline: 1rem;
    padding-block: 0.75rem; 
    margin-top: 2%;
  }

  /* Second Section */

  .second-section {
    min-height: 710px;
    height: auto;
  }

  .second-section-heading {
    padding-top: 2%;
    margin-top: 0;
  }

  .program-list {
    margin-top: 6%;
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  }

  .flex-box {
    flex-direction: column;
    justify-content: space-between;
    margin-inline: 1%;
  }

  .flex-box img {
    transform: scale(0.3);
    width: unset;
    height: unset;
  }

  .flex-box h2 {
    width: 80%;
    margin: 0;
  }

  .flex-box p {
    text-align: center;
    width: 90%;
    margin: 0;
    margin-top: 3%;
    margin-bottom: 9%;
  }

  .program-button {
    display: block;
  }

  .button-container {
    width: 30%;
  }

  /* .desktop-container-link {
    display: block;
    width: 20%;
    margin-inline: auto;
    min-height: 2rem;
    margin-block: 5%;
  } */


  .program-link {
    color: white;
    margin-block: 2rem;
  }

  /* third section */

  .section-speakers-heading {
    /* background: tomato; */
    text-align: center;
  }

  .featured-speakers {
    width: 70%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
  }


  .speaker-history {
    width: 95%;
  }
  /* partners section */
  .partners-heading {
    padding-top: 3%;
    margin-bottom: 1%;
  }

  .partners-flex{
    margin-top: 4%;
    width: 75%;
  }

  .partners-list {
    margin-bottom: 3%
  }

  .partners-image {
    mix-blend-mode: exclusion;
  }

  .footer-flex {
    justify-content: space-evenly;
  }


}